html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

body{
  min-height: 100vh;
  max-height: 100vh;
}

h1 {
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
}

h2{
  /* position: relative; */
  margin: 0 auto;
  padding-left: 30%;
}

.box {
  max-width: 400px;
  margin: 25px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  
}

.boxContent{
  
  max-height: 320px;
}

#heading {
  background-color: #A683E3;
  text-align: center;
  margin: 0 auto;
}

.item {
  min-height: 65px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}


.heightItem{
  max-height: 250px;
  overflow: auto;
}

ul{
  list-style: none;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
  
}

button {
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}




input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  min-width: 220px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}




/* CHECKBOXE STYLE
//https://css-tricks.com/the-checkbox-hack/
//https://stackoverflow.com/questions/4148499/how-to-style-a-checkbox-using-css?rq=1

*/

@media only screen and (min-width: 1025px) {
.site-content ul {
    -moz-column-count: 4;
    -moz-column-gap: 48px;
    -webkit-column-count: 4;
    -webkit-column-gap: 48px;
    column-count: 4;
    column-gap: 48px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
.site-content ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
}
.site-content ul {
    list-style: none;
    margin: 0 0 1.5em 0;
}
.site-content li {
    margin-bottom: 40px;
    break-inside: avoid !important;
} 


